loops ka matlab hota h koi kamm baar baar karna bina code baar baar likhe.
python m 2 main loops
for loop 
while loop

for loop
for loop ka use hota h jab hume kisi list ya range par baar baar kaam krna ho

In [ ]:
#print number 1 to 5
for i in range(1 , 6):
 print(i)

1
2
3
4
5

In [ ]:
#list pr loop chlo
fruits = ["apple","banana","cherry"]

for fruits in fruits:
    print(fruits)

apple
banana
cherry

while loop tab chalta hai jab tk koi condition true h

In [3]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [4]:
for i in range(1 , 6):
    if i % 2 == 0:
        print(i, "even h")
    else:
        print(i, "odd h")

1 odd h
2 even h
3 odd h
4 even h
5 odd h

break loop ko rok deta h
continue ek iteration skip karta h

In [5]:
#break example 
for i in range(1 , 10):
    if i ==5:
        break 
    print(i)

1
2
3
4

In [6]:
#continue example
for i in range(1 , 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

Q1- print numbers from 1 to 10 using a loop
Q2- print only the even numbers from 1 to 10.
Q3- Given a list : fruits = ["apple","banana","mango"] print each fruit name using loop
Q4- PRINT numbers from 1 to 5 , but skip the number 3.
Q5 - print numbers from 1 to 10 , but stop the loop when the number 7 comes.
Q6 - Take a number input from the user if its less than 10, use a while loop to print numbers up to 10.
Q7 - Given a list names = ["Neha","Alka","Asad","Sahil"] print "Hello" with each name 
Q8 - Write a for loop that prints the square of each number from 1 to 5
Q9- Write a while loop that starts at 1 and keeping adding 2 until the number is less than 10.
Q10- Write a loop that asks the user to enter name until the user types "stop".

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range (1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [10]:
fruits = ["apple", "mango","banana"]
for fruits in fruits:
    print(fruits)

apple
mango
banana

In [12]:
for i in range(1 , 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [16]:
for i in range(1,10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [18]:
i = int(input("enter a number:"))
while i <= 10:
    print(i)
    i += 1

In [19]:
list = [ "Neha","Alka"]
for list in list:
    print("Hello",list)

Hello Neha
Hello Alka

In [20]:
for i in range(1,5):
    print(i**2)

1
4
9
16

In [23]:
a=1
while a<=10:
    print(a)
    a=a+2

1
3
5
7
9

In [19]:

while i!="stop":
    print("hello",i)
    i=input("enter your name")

In [23]:
while True:
    name = input("enter a name(type stop to end)")
    if name == "stop":
     break
    print("you entered:", name)

you entered: alka

In [24]:
from pandasai import PandasAI
pandas_ai = PandasAI(api_key="PAI-53fdc95d-0a2a-49f3-bcc2-f6b60731c1ac")

ModuleNotFoundError: No module named 'pandasai'