In [1]:
student = {
    'name' : 'John',
    'age' : int(input("Enter your age: ")),
    'city' : 'New York',
}
print(student)

{'name': 'John', 'age': 20, 'city': 'New York'}

- ways to define a dictionary
- to access key value pairs in dictionary
- loops in dictionary
- nested dictionary

In [2]:
info = dict(name = input("Enter your name"), age = 22, city = 'Los Angeles', course = 'Data Science')
print(info)

{'name': 'alice', 'age': 22, 'city': 'Los Angeles', 'course': 'Data Science'}

In [3]:
temp = {
    'lucknow' : [35,40,45],
    'delhi' : [30,35,40],
    'mumbai' : [28,30,32],
    'chennai' : [30,32,34],
}
print(temp)

{'lucknow': [35, 40, 45], 'delhi': [30, 35, 40], 'mumbai': [28, 30, 32], 'chennai': [30, 32, 34]}

In [4]:
#1st method to access key-value pairs
print(student['name'])
print(student['age'])

John
20

In [5]:
#2nd method to access key-value pairs
print(student.get('city'))
print(info.get('course'))

New York
Data Science

In [6]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'city'])
dict_values(['John', 20, 'New York'])
dict_items([('name', 'John'), ('age', 20), ('city', 'New York')])

In [7]:
for k,v in student.items():
    print(f"{k} : {v}")

name : John
age : 20
city : New York

In [8]:
a = 10
b = 5
sum = a + b
print("sum is", sum)
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum is 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [9]:
#to add a new key-value pair
student['grade'] = 'A'

In [10]:
print(student)

{'name': 'John', 'age': 20, 'city': 'New York', 'grade': 'A'}

In [11]:
# to remove a key-value pair
student.pop('city', None)  # Using None to avoid KeyError if 'city' does not exist
print(student)

{'name': 'John', 'age': 20, 'grade': 'A'}

In [12]:
student.pop("father's name", None)
print(student)

{'name': 'John', 'age': 20, 'grade': 'A'}

In [13]:
# to update an existing key-value pair
student['age'] = 21
print(student)

{'name': 'John', 'age': 21, 'grade': 'A'}

In [14]:
#nested dictionary
company = {
    'emp001' : {
        'name' : 'Alice',
        'age' : 30,
        'department' : 'HR',
        'salary' : 60000
    },
    'emp002' : {
        'name' : 'Bob',
        'age' : 28,
        'department' : 'IT',
        'salary' : 70000
    },
    'emp003' : {
        'name' : 'Charlie', 
        'age' : 35,
        'department' : 'Finance',
        'salary' : 80000
    }
}
print(company)

{'emp001': {'name': 'Alice', 'age': 30, 'department': 'HR', 'salary': 60000}, 'emp002': {'name': 'Bob', 'age': 28, 'department': 'IT', 'salary': 70000}, 'emp003': {'name': 'Charlie', 'age': 35, 'department': 'Finance', 'salary': 80000}}

In [15]:
from pprint import pprint

In [16]:
pprint(company)

{'emp001': {'age': 30, 'department': 'HR', 'name': 'Alice', 'salary': 60000},
 'emp002': {'age': 28, 'department': 'IT', 'name': 'Bob', 'salary': 70000},
 'emp003': {'age': 35,
            'department': 'Finance',
            'name': 'Charlie',
            'salary': 80000}}

In [17]:
company['emp002']['salary']

70000

In [19]:
sum(temp['delhi'])/len(temp['delhi'])

TypeError: 'int' object is not callable